PORT=8000
CORS_ORIGIN=*
MONGODB_URI=your_databse_url

ACCESS_TOKEN_SECRET=your_access_secret
ACCESS_TOKEN_EXPIRY=1h
REFRESH_TOKEN_SECRET=your_access_secret
REFRESH_TOKEN_EXPIRY=1d

CLOUDINARY_CLOUD_NAME=your_cloudinay_name
CLOUDINARY_API_KEY=your_cloudinay_api_key
CLOUDINARY_API_SECRET=your_cloudinay_api_secret
